{{ 'section-kazaryan.css' | asset_url | stylesheet_tag }}

{%- comment -%}
   {%- style -%}
    {{ section.settings.section_headline_font_family | font_face }}
    {{ section.settings.section_text_font_family | font_face }}
  {%- endstyle -%}
{%- endcomment -%}

<div
  class="section-kazaryan"
  style="font-family: '{{ section.settings.section_text_font_family.family }}'; font-weight:{{ section.settings.section_text_font_family.weight }} "
>
  <div class="section-kazaryan__fix">
    <div class="about-container about-container--right-spacer">
      {%- comment -%} <div class="about-container {% if section.settings.castling_segments == false %}about-container--left-spacer{% elsif section.settings.castling_segments == true %}about-container--right-spacer{% endif %}"> {%- endcomment -%}
      <div class="about-container__img-cell">
        {%- comment -%}
           <div class="about-container__img-position">
            {% if section.settings.section_image.src != blank %}
              <img
                src="{{ section.settings.section_image | image_url: width: 306, height: 376 }}"
                alt="{{ section.settings.section_image.alt }}"
                width="306"
                height="376"
                loading="lazy"
              >
            {% elsif section.settings.section_image.src == blank %}
              {{ 'collection-1' | placeholder_svg_tag }}
            {% endif %}
          </div>
        {%- endcomment -%}
      </div>

      {%- for block in section.blocks -%}
        {%- case block.type -%}
            {%- comment -%}
               {%- when 'section_headline' -%}
              {%- style -%}
                {{ block.settings.section_headline_font_family | font_face }}
              {%- endstyle -%}
              <h2
                class="section-headline"
                {{ block.shopify_attributes }}
                style="
                  font-family: '{{ block.settings.section_headline_font_family.family }}', {{ block.settings.section_headline_font_family.fallback_families }};
                  font-weight: '{{ block.settings.section_headline_font_family.weight }}'
                "
              >
                {{- block.settings.section_headline_txt -}}
              </h2>
            {%- endcomment -%}
          {%- when 'section_caption' -%}
            {%- style -%}
              {{ block.settings.section_caption_font_family | font_face }}
            {%- endstyle -%}
            <div
              class="section-context section-context--caption"
              {{ block.shopify_attributes }}
              style="
                font-family: '{{ block.settings.section_caption_font_family.family }}', {{ block.settings.section_caption_font_family.fallback_families }};
                font-weight: '{{ block.settings.section_caption_font_family.weight }}'
              "
            >
              {{- block.settings.section_caption_txt -}}
            </div>
          {%- when 'section_description' -%}
            11111
            {%- style -%}
              {{ block.settings.section_description_font_family | font_face }}
            {%- endstyle -%}
            <i class="horizontal-divider">&nbsp;</i>
            <div
              class="section-context section-context--two-cols"
              {{ block.shopify_attributes }}
              style="
                font-family: '{{ block.settings.section_description_font_family.family }}', {{ block.settings.section_description_font_family.fallback_families }};
                font-weight: '{{ block.settings.section_description_font_family.weight }}'
              "
            >
              {{- block.settings.section_description_txt -}}
            </div>
        {%- endcase -%}
      {%- endfor -%}

      {%- comment -%}
         <div class="section-context section-context--two-cols">
          {{ section.settings.section_description }}
        </div>
      {%- endcomment -%}

      <div class="list-persons">
        <div class="list-persons__images">
          <span class="person-img">&nbsp;</span>
          <span class="person-img">&nbsp;</span>
          <span class="person-img">&nbsp;</span>
        </div>
        <div class="list-persons__full-names">
          <div class="flex-box left-shift">
            <span class="person-full-name">Clara Williams</span>,
            <span class="person-full-name">Joyce Harper</span>
            <span class="person-full-name">and</span>
            <span class="person-full-name">Tanya Caldwell</span>
          </div>
          {%- comment -%}
             <div class="person-positions" {{ block.shopify_attributes }}>
              {{ section.settings.person_positions }}
            </div>
          {%- endcomment -%}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.section_kazaryan.name",
  "tag": "section",
  "blocks": [
    {
      "type": "section_headline",
      "name": "Section Headline",
      "settings": [
        {
          "id": "section_headline_txt",
          "type": "richtext",
          "label": "t:sections.section_kazaryan.blocks.section_headline.settings.section_headline_txt.label",
          "info": "t:sections.section_kazaryan.blocks.section_headline.settings.section_headline_txt.info",
          "default": "<p>Hi, we are<br>Handmade Studio</p>"
        },
        {
          "id": "section_headline_font_family",
          "type": "font_picker",
          "label": "t:sections.section_kazaryan.blocks.section_headline.settings.section_headline_font_family.label",
          "info": "t:sections.section_kazaryan.blocks.section_headline.settings.section_headline_font_family.info",
          "default": "playfair_display_n4"
        }
      ]
    },
    {
      "type": "section_caption",
      "name": "Section caption",
      "settings": [
        {
          "id": "section_caption_txt",
          "type": "richtext",
          "label": "t:sections.section_kazaryan.blocks.section_caption.settings.section_caption_txt.label",
          "info": "t:sections.section_kazaryan.blocks.section_caption.settings.section_caption_txt.info",
          "default": "<p>Marketing non-disclosure agreement scrum project alpha lean startup startup business plan user experience angel investor focus research & development value proposition graphical user interface investor.</p>"
        },
        {
          "id": "section_caption_font_family",
          "type": "font_picker",
          "label": "t:sections.section_kazaryan.blocks.section_caption.settings.section_caption_font_family.label",
          "info": "t:sections.section_kazaryan.blocks.section_caption.settings.section_caption_font_family.info",
          "default": "poppins_n4"
        }
      ]
    },
    {
      "type": "section_description",
      "name": "Section description",
      "settings": [
        {
          "id": "section_description_txt",
          "type": "richtext",
          "label": "t:sections.section_kazaryan.blocks.section_description.settings.section_description_txt.label",
          "info": "t:sections.section_kazaryan.blocks.section_description.settings.section_description_txt.info",
          "default": "<p>Non-disclosure agreement scrum project</p>"
        },
        {
          "id": "section_description_font_family",
          "type": "font_picker",
          "label": "t:sections.section_kazaryan.blocks.section_description.settings.section_description_font_family.label",
          "info": "t:sections.section_kazaryan.blocks.section_description.settings.section_description_font_family.info",
          "default": "poppins_n4"
        }
      ]
    }
  ]
}
{% endschema %}
