{{ 'section-kazaryan.css' | asset_url | stylesheet_tag }}

<div class="section-kazaryan">
  <div class="section-kazaryan__fix">
    <div class="about-container {% if section.settings.castling_segments == false %}about-container--left-spacer{% elsif section.settings.castling_segments == true %}about-container--right-spacer{% endif %}">
      <div class="about-container__img-cell">
        <div class="about-container__img-position">
          <img src="{{ section.settings.img }}" alt="" width="306" height="376" loading="lazy">
        </div>
      </div>

      <h2
        class="section-headline"
        style="font-family: '{{ section.settings.section_headline_font.family }}'"
      >
        {{ section.settings.section_headline }}
      </h2>

      <div class="section-context section-context--caption">
        {{ section.settings.section_caption }}
      </div>

      <i class="horizontal-divider">&nbsp;</i>
      <div class="section-context section-context--two-cols">
        {{ section.settings.section_description }}
      </div>

      <div class="list-persons">
        <div class="list-persons__images">
          <span class="person-img">&nbsp;</span>
          <span class="person-img">&nbsp;</span>
          <span class="person-img">&nbsp;</span>
        </div>
        <div class="list-persons__full-names">
          <div class="flex-box">
            <span class="person-full-name">Clara Williams</span>
            <span class="person-full-name">Joyce Harper</span>
            <span class="person-full-name">and</span>
            <span class="person-full-name">Tanya Caldwell</span>
          </div>
          <div class="person-positions">
            {{ section.settings.person_positions }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.section_kazaryan.name",
  "tag": "section",
  "settings": [
    {
      "id": "castling_segments",
      "type": "checkbox",
      "label": "t:sections.section_kazaryan.settings.castling_segments.label",
      "info": "t:sections.section_kazaryan.settings.castling_segments.info",
      "default": false
    },
    {
      "id": "img",
      "type": "text",
      "label": "t:sections.section_kazaryan.settings.img.label",
      "info": "t:sections.section_kazaryan.settings.img.info",
      "default": "https://hikekazarian.ru/portfolio/ashstone-studios-test-task/assets/img/img-1x.jpg"
    },
    {
      "id": "section_headline",
      "type": "richtext",
      "label": "t:sections.section_kazaryan.settings.section_headline.label",
      "info": "t:sections.section_kazaryan.settings.section_headline.info",
      "default": "<p>Hi, we are<br>Handmade Studio</p>"
    },
    {
      "id": "section_caption",
      "type": "richtext",
      "label": "t:sections.section_kazaryan.settings.section_caption.label",
      "info": "t:sections.section_kazaryan.settings.section_caption.info",
      "default": "<p>Marketing non-disclosure agreement scrum project alpha lean startup startup business plan user experience angel investor focus research & development value proposition graphical user interface investor.</p>"
    },
    {
      "id": "section_description",
      "type": "richtext",
      "label": "t:sections.section_kazaryan.settings.section_description.label",
      "info": "t:sections.section_kazaryan.settings.section_description.info",
      "default": "<p>Marketing non-disclosure agreement scrum project alpha lean startup startup business plan user experience angel investor focus research & development value proposition graphical user interface investor. Non-disclosure agreement scrum project alpha lean startup startup business plan user experience angel investor focus research & development value proposition graphical user interface investor.</p>"
    },
    {
      "id": "person_positions",
      "type": "text",
      "label": "t:sections.section_kazaryan.settings.person_positions.label",
      "info": "t:sections.section_kazaryan.settings.person_positions.info",
      "default": "The Founders of Handmade Studio"
    },
    {
      "type": "font_picker",
      "id": "section_headline_font",
      "label": "section headline font",
      "info": "section headline font",
      "default": "playfair_display_n7"
    }
  ]
}
{% endschema %}
