{{ 'section-kazaryan.css' | asset_url | stylesheet_tag }}

<div class="section-kazaryan section-kazaryan----font-family">
  <div class="section-kazaryan__fix">
    <div class="
        about-container
        about-container--{% if section.settings.section_castling == "left" %}left-spacer{% elsif section.settings.section_castling == "right"  %}right-spacer{% endif %}
      ">
      <div class="about-container__img-cell">
        <div class="about-container__img-position">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'section_image' -%}
                {% if block.settings.section_image.src != blank %}
                  <div
                    class="img-container"
                    {{ block.shopify_attributes }}
                  >
                    <img
                      src="{{ block.settings.section_image | image_url: width: 306, height: 376 }}"
                      alt="{{ block.settings.section_image.alt }}"
                      width="306"
                      height="376"
                      loading="lazy"
                    >
                  </div>
                {% elsif block.settings.section_image.src == blank %}
                  <div
                    class="img-container"
                    {{ block.shopify_attributes }}
                  >
                    {{ 'collection-1' | placeholder_svg_tag }}
                  </div>
                {% endif %}
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>

      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'section_headline' -%}
            {%- style -%}
              {{ block.settings.section_headline_font_family | font_face }}
            {%- endstyle -%}
            <h2
              class="section-headline"
              {{ block.shopify_attributes }}
              style="
                font-family: '{{ block.settings.section_headline_font_family.family }}', {{ block.settings.section_headline_font_family.fallback_families }};
                font-weight: '{{ block.settings.section_headline_font_family.weight }}'
              "
            >
              {{- block.settings.section_headline_txt -}}
            </h2>
          {%- when 'section_caption' -%}
            {%- style -%}
              {{ block.settings.section_caption_font_family | font_face }}
            {%- endstyle -%}
            <div
              class="section-context section-context--caption"
              {{ block.shopify_attributes }}
              style="
                font-family: '{{ block.settings.section_caption_font_family.family }}', {{ block.settings.section_caption_font_family.fallback_families }};
                font-weight: '{{ block.settings.section_caption_font_family.weight }}'
              "
            >
              {{- block.settings.section_caption_txt -}}
            </div>
          {%- when 'section_description' -%}
            {%- style -%}
              {{ block.settings.section_description_font_family | font_face }}
            {%- endstyle -%}
            <i class="horizontal-divider">&nbsp;</i>
            <div
              class="section-context section-context--two-cols"
              {{ block.shopify_attributes }}
              style="
                font-family: '{{ block.settings.section_description_font_family.family }}', {{ block.settings.section_description_font_family.fallback_families }};
                font-weight: '{{ block.settings.section_description_font_family.weight }}'
              "
            >
              {{- block.settings.section_description_txt -}}
            </div>
        {%- endcase -%}
      {%- endfor -%}

      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'element_person' -%}
            <div class="person-full-name" {{ block.shopify_attributes }}>
              {{ block.settings.element_person_title }},
            </div>
        {%- endcase -%}
      {%- endfor -%}

      <div class="list-persons">
        <div class="list-persons__images">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'element_person' -%}
                <span class="person-img" {{ block.shopify_attributes }}>
                  {% if block.settings.element_person_img.src != blank %}
                    <img
                      src="{{ block.settings.element_person_img | image_url: width: 43, height: 43 }}"
                      alt="{{ block.settings.element_person_img.alt }}"
                      width="43"
                      height="43"
                      loading="lazy"
                    >
                  {% elsif block.settings.element_person_img.src != blank %}
                    {{ 'collection-1' | placeholder_svg_tag }}
                  {% endif %}
                </span>
            {%- endcase -%}
          {%- endfor -%}
        </div>

        <div class="list-persons__full-names">
          <div class="flex-box left-shift">
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when 'element_person' -%}
                  <div class="person-full-name" {{ block.shopify_attributes }}>
                    {{ block.settings.element_person_title }},
                  </div>
              {%- endcase -%}
            {%- endfor -%}
          </div>

          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'section_person_position' -%}
                <div class="person-positions" {{ block.shopify_attributes }}>
                  {{ block.settings.section_person_position_txt }}
                </div>
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>

  {% schema %}
  {
    "name": "t:sections.section_kazaryan.name",
    "tag": "section",
    "settings": [
      {
        "id": "section_castling",
        "type": "select",
        "label": "t:sections.section_kazaryan.settings.section_castling.label",
        "info": "t:sections.section_kazaryan.settings.section_castling.info",
        "options": [
          {
            "value": "left",
            "label": "t:sections.section_kazaryan.settings.section_castling.options_1"
          },
          {
            "value": "right",
            "label": "t:sections.section_kazaryan.settings.section_castling.options_2"
          }
        ],
        "default": "left"
      }
    ],
    "blocks": [
      {
        "type": "section_image",
        "name": "t:sections.section_kazaryan.blocks.section_image.name",
        "limit": 1,
        "settings": [
          {
            "type": "image_picker",
            "id": "section_image",
            "label": "t:sections.section_kazaryan.blocks.section_image.settings.section_image.label",
            "info": "t:sections.section_kazaryan.blocks.section_image.settings.section_image.info"
          }
        ]
      },
      {
        "type": "section_headline",
        "name": "t:sections.section_kazaryan.blocks.section_headline.name",
        "settings": [
          {
            "id": "section_headline_txt",
            "type": "richtext",
            "label": "t:sections.section_kazaryan.blocks.section_headline.settings.section_headline_txt.label",
            "info": "t:sections.section_kazaryan.blocks.section_headline.settings.section_headline_txt.info",
            "default": "<p>Hi, we are<br>Handmade Studio</p>"
          },
          {
            "id": "section_headline_font_family",
            "type": "font_picker",
            "label": "t:sections.section_kazaryan.blocks.section_headline.settings.section_headline_font_family.label",
            "info": "t:sections.section_kazaryan.blocks.section_headline.settings.section_headline_font_family.info",
            "default": "playfair_display_n4"
          }
        ]
      },
      {
        "type": "section_caption",
        "name": "t:sections.section_kazaryan.blocks.section_caption.name",
        "settings": [
          {
            "id": "section_caption_txt",
            "type": "richtext",
            "label": "t:sections.section_kazaryan.blocks.section_caption.settings.section_caption_txt.label",
            "info": "t:sections.section_kazaryan.blocks.section_caption.settings.section_caption_txt.info",
            "default": "<p>Marketing non-disclosure agreement scrum project alpha lean startup startup business plan user experience angel investor focus research & development value proposition graphical user interface investor.</p>"
          },
          {
            "id": "section_caption_font_family",
            "type": "font_picker",
            "label": "t:sections.section_kazaryan.blocks.section_caption.settings.section_caption_font_family.label",
            "info": "t:sections.section_kazaryan.blocks.section_caption.settings.section_caption_font_family.info",
            "default": "poppins_n4"
          }
        ]
      },
      {
        "type": "section_description",
        "name": "t:sections.section_kazaryan.blocks.section_description.name",
        "settings": [
          {
            "id": "section_description_txt",
            "type": "richtext",
            "label": "t:sections.section_kazaryan.blocks.section_description.settings.section_description_txt.label",
            "info": "t:sections.section_kazaryan.blocks.section_description.settings.section_description_txt.info",
            "default": "<p>Marketing non-disclosure agreement scrum project alpha lean startup startup business plan user experience angel investor focus research & development value proposition graphical user interface investor. Non-disclosure agreement scrum project alpha lean startup startup business plan user experience angel investor focus research & development value proposition graphical user interface investor.</p>"
          },
          {
            "id": "section_description_font_family",
            "type": "font_picker",
            "label": "t:sections.section_kazaryan.blocks.section_description.settings.section_description_font_family.label",
            "info": "t:sections.section_kazaryan.blocks.section_description.settings.section_description_font_family.info",
            "default": "poppins_n4"
          }
        ]
      },
      {
        "type": "section_person_position",
        "name": "t:sections.section_kazaryan.blocks.section_person_position.name",
        "settings": [
          {
            "id": "section_person_position_txt",
            "type": "text",
            "label": "t:sections.section_kazaryan.blocks.section_person_position.settings.section_person_position.label",
            "info": "t:sections.section_kazaryan.blocks.section_person_position.settings.section_person_position.info",
            "default": "The Founders of Handmade Studio"
          }
        ]
      },
      {
        "type": "element_person",
        "name": "t:sections.section_kazaryan.blocks.element_person.name",
        "settings": [
          {
            "type": "image_picker",
            "id": "element_person_img",
            "label": "t:sections.section_kazaryan.blocks.element_person.settings.img.label",
            "info": "t:sections.section_kazaryan.blocks.element_person.settings.img.label"
          },
          {
            "type": "text",
            "id": "element_person_title",
            "label": "t:sections.section_kazaryan.blocks.element_person.settings.text.label",
            "info": "t:sections.section_kazaryan.blocks.element_person.settings.text.label",
            "default": "Clara Williams"
          }
        ]
      }
    ]
  }
  {% endschema %}
</div>
