{{ 'section-kazaryan.css' | asset_url | stylesheet_tag }}
<script src="{{ 'section-kazaryan.js' | asset_url }}" defer></script>

<section class="section-kazaryan">
  <div class="section-kazaryan__fix">
    <div class="about-container about-container--left-spacer">
      <div class="about-container__img-cell">
        <div class="about-container__img-position">
          <img src="{{ section.settings.img }}" alt="" width="306" height="376" loading="lazy">
        </div>
      </div>

      <h2 class="section-headline">
        {{ section.settings.section_headline }}
      </h2>

      <div class="section-context section-context--caption">
        {{ section.settings.section_caption }}
      </div>

      <i class="horizontal-divider">&nbsp;</i>
      <div class="section-context section-context--two-cols">
        {{ section.settings.section_description }}
      </div>

      <div class="list-persons">
        <div class="list-persons__images">
          <span class="person-img">&nbsp;</span>
          <span class="person-img">&nbsp;</span>
          <span class="person-img">&nbsp;</span>
        </div>
        <div class="list-persons__full-names">
          <div class="flex-box">
            <span class="person-full-name">Clara Williams</span>
            <span class="person-full-name">Joyce Harper</span>
            <span class="person-full-name">and</span>
            <span class="person-full-name">Tanya Caldwell</span>
          </div>
          <div class="person-positions">The Founders of Handmade Studio</div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.section_kazaryan.name",
  "settings": [
    {
      "id": "img",
      "type": "text",
      "label": "img",
      "info": "info",
      "default": "https://hikekazarian.ru/portfolio/ashstone-studios-test-task/assets/img/img-1x.jpg"
    },
    {
      "id": "section_headline",
      "type": "richtext",
      "label": "t:sections.section_kazaryan.section_headline.label",
      "info": "t:sections.section_kazaryan.section_headline.info",
      "default": "<p>Hi, we are<br>Handmade Studio</p>"
    },
    {
      "id": "section_caption",
      "type": "richtext",
      "label": "t:sections.section_kazaryan.section_caption.label",
      "info": "t:sections.section_kazaryan.section_caption.info",
      "default": "<p>Marketing non-disclosure agreement scrum project alpha lean startup startup business plan user experience angel investor focus research & development value proposition graphical user interface investor.</p>"
    },
    {
      "id": "section_description",
      "type": "richtext",
      "label": "t:sections.section_kazaryan.section_description.label",
      "info": "t:sections.section_kazaryan.section_description.info",
      "default": "<p>Marketing non-disclosure agreement scrum project alpha lean startup startup business plan user experience angel investor focus research & development value proposition graphical user interface investor. Non-disclosure agreement scrum project alpha lean startup startup business plan user experience angel investor focus research & development value proposition graphical user interface investor.</p>"
    }
  ]
}
{% endschema %}
